demo/figs/*
demo/data/methodspaper-kirby27.txt
*.m~

demo/parameterEstimates_methodspaper-kirby27.txt

demo/parameterEstimates_methodspaper-kirby27.txt

demo/parameterEstimates_nonHierarchical.txt

demo/temp.data.R

demo/output-1.csv

demo/output-2.csv

*.hpp

ddToolbox/models/hierarchicalME

ddToolbox/models/hierarchicalLogK

demo/data/groupLevelData/COMBINED_DATA.txt

demo-nonparametric/data/groupLevelData/COMBINED_DATA.txt

demo-nonparametric/data
demo-nonparametric/figs