*.hpp

*.stan~

*.m~

figs/


demo/figs/*


*/temp.mat

*/COMBINED_DATA.txt


demo/data/methodspaper-kirby27.txt

demo/parameterEstimates_methodspaper-kirby27.txt

demo/parameterEstimates_nonHierarchical.txt

demo/*.csv

ddToolbox/models/hierarchicalME

ddToolbox/models/hierarchicalLogK

demo-nonparametric/figs

ddToolbox/models/mixedLogK

ddToolbox/models/mixedLogK

ddToolbox/models/separateLogK

workspace_SLOC.txt

ddToolbox/models/mixedME

ddToolbox/models/separateME

demo/tests/figs

tests/figs/

output-1.csv

output-2.csv

temp.data.R





demo/datasets/non-parametric/groupLevelData/COMBINED_DATA.txt

demo/datasets/kirby/groupLevelData/COMBINED_DATA.txt
