demo/figs/*
demo/data/methodspaper-kirby27.txt
*.m~

demo/parameterEstimates_methodspaper-kirby27.txt

demo/parameterEstimates_methodspaper-kirby27.txt

demo/parameterEstimates_nonHierarchical.txt

demo/temp.data.R

demo/output-1.csv

demo/output-2.csv

*.hpp

ddToolbox/models/hierarchicalME

ddToolbox/models/hierarchicalLogK

demo/data/groupLevelData/COMBINED_DATA.txt

demo-nonparametric/data/groupLevelData/COMBINED_DATA.txt

demo-nonparametric/figs
demo/output-3.csv

demo/output-4.csv

ddToolbox/models/mixedLogK

ddToolbox/models/mixedLogK

ddToolbox/models/separateLogK

workspace_SLOC.txt

ddToolbox/models/mixedME

ddToolbox/models/separateME

demo/tests/temp.mat

demo/tests/figs

tests/integration_tests/figs
tests/integration_tests/temp.mat

tests/temp.mat

tests/figs/
ddToolbox/models/hierarchicalMEupdated
